header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.btn-primary {
  background-color: #469165;
  color: #ffffff;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn:hover {
  background-color: brown;
}
#hero {
  height: 674px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  padding: 154px 340px;
}

.hero-content h1 {
  font-size: 72px;
  color: #ffffff;
}

.hero-content h1 span {
  color: #30b868;
}

.hero-content p {
  font-size: 18px;
  color: #ffffff;
  margin-top: 16px;
}

#notes {
  margin-top: 45px;
}
#notes .notes-container .notes-heading {
  text-align: center;
}
#notes .notes-container .notes-heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#notes .notes-container .notes-heading p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#notes .notes-container .notes-box {
  display: flex;
  gap: 25px;
}

.notes-box .notes-card {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  max-width: 322px;
  margin-top: 44px;
  text-align: center;
}
.notes-card .icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.notes-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
.notes-card p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
}
.brain-section {
  padding-top: 120px;
}

.brain-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.brain-img {
  width: 600px;
  height: 600px;
}

.solution-msg {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.brain-content h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}

.brain-content p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}

.list-items-brain {
  list-style: none;
}

.list-items-brain li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 16px;
}
