header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.btn-primary {
  background-color: #469165;
  color: #ffffff;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn:hover {
  background-color: brown;
}
