header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.btn-primary {
  background-color: #469165;
  color: #ffffff;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn:hover {
  background-color: brown;
}
#hero {
  height: 674px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  padding: 154px 340px;
}

.hero-content h1 {
  font-size: 72px;
  color: #ffffff;
}

.hero-content h1 span {
  color: #30b868;
}

.hero-content p {
  font-size: 18px;
  color: #ffffff;
  margin-top: 16px;
}
