header {
  margin-top: 16px;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
